<% @comments.each do |user_comment| %>
  Comment from <%=  user_comment.ip %> at <%= formatted_created_time(user_comment) %>
  <br>
  <%= sanitize user_comment.comment, :tags => %w(b i) %>
  <br>
  <div>-------------------------------------------</div>
<% end %>